:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}

/* Links */

.link-arrow {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  content: "-->";
  margin-left: 10px;
  transform: translateX(5px);
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--horizontal .list__item {
  display: inline-block;
  /* font-size: 2rem; */
  padding-left: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
  /* font-size: 2rem; */
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
    font-size: 2rem;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #71a7ee;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #00a2ff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #f5623d;
}

.btn--block {
  width: 100%;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border-radius: 40px;
  outline: 0;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  padding: 1rem 3rem;
}

.input::placeholder {
  color: var(--color-border);
}

.input-group {
  border-radius: 40px;
  border: 1px solid var(--color-border);
  display: flex;
  width: 100vw;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input::placeholder {
    font-size: 2rem;
  }
}

/* Cards */
