:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}

/* Links */

.link-arrow {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  content: "-->";
  margin-left: 10px;
  transform: translateX(5px);
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 1rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.card--primary .badge--primary {
  background-color: #126de4;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

.badge--small {
  font-size: 1.6rem;
}

.badge-popular {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--color-headings);
  display: inline-block;
  padding-right: 2rem;
  padding-left: 1rem;
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
  transform: rotate(90deg);
  position: absolute;
  top: 3.5rem;
  right: -1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--horizontal .list__item {
  display: inline-block;
  /* font-size: 2rem; */
  padding-left: 2rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
  /* font-size: 2rem; */
  padding-left: 4rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
    font-size: 2rem;
  }
}

/* Icons */

.icon {
  height: 40px;
  width: 40px;
}

.icon--white {
  fill: #fff;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #71a7ee;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #00a2ff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--accent:hover {
  background-color: #f5623d;
}

.btn--block {
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border-radius: 40px;
  outline: 0;
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  padding: 1rem 3rem;
}

.input::placeholder {
  color: var(--color-border);
}

.input-group {
  border-radius: 40px;
  border: 1px solid var(--color-border);
  display: flex;
  width: 100vw;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input::placeholder {
    font-size: 2rem;
  }
}

/* Cards */
.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  margin: 2rem;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.1s;
  position: relative;
}

.card--package {
  width: 50rem;
  height: 52rem;
}

.card__header {
  display: flex;
  overflow: hidden;
  height: 17.5rem;
  flex-direction: column;
  padding: 1.8rem 3.5rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.plan__billing_cycle,
.plan__description {
  font-size: 2rem;
}

.plan__price {
  font-size: 4.5rem;
  font-weight: 500;
}

.card .btn {
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.card .btn--block:hover {
  background-color: var(--color-headings);
  color: #fff;
}

.card__body {
  width: 100%;
  padding: 1rem 2rem;
}

.card--package:hover {
  transform: scale(1.05);
}

.abc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .card--package {
    width: 34rem;
    height: 49rem;
  }

  .card__header {
    padding: 2rem;
  }

  .plan__name,
  .plan__billing_cycle,
  .plan__description {
    font-size: 1.8rem;
  }

  .abc {
    flex-direction: row;
  }

  .card--popular {
    transform: scale(1.1);
    margin: 4rem;
  }

  .card--popular:hover {
    transform: scale(1.15);
  }
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  padding: 0 2rem;
}

.media__image {
  margin-top: 1.5rem;
}

/* Quotes */
.quote {
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1.3;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2.7 rem;
  font-weight: 600;
  font-style: normal;
}

.quote__organization {
  font-style: normal;
  color: var(--color-headings);
  opacity: 0.5;
  font-size: 2rem;
}

.quote__line {
  position: relative;
  bottom: 15px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.2rem;
  }

  .quote__organization {
    font-size: 1.8rem;
  }

  .quote__line {
    position: relative;
    bottom: 20px;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  background-color: tomato;
  right: -32px;
  top: 3rem;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.2rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }

  .testimonial {
    max-width: 1024px;
  }
}

/* Call-outs */
.callout {
  padding: 4rem;
  border-radius: 4px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
